# Environments
venv/
env/
.env
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Data
data/raw/*
!data/raw/.gitkeep
data/exports/*
!data/exports/.gitkeep
data/extracted/*
!data/extracted/.gitkeep

# System
.DS_Store
